vaadin-custom-field.maplibre-field-has-size::part(input-fields) {
    flex-grow: 1;
    position: relative;
}

vaadin-custom-field .maplibre-toolbar {
    position:absolute;
    z-index:1;
    --vaadin-button-background: rgba(255,255,255,0.7);
    --vaadin-button-border-radius: 0;
    margin-left: var(--lumo-space-xs);
    box-shadow 0 0 0 2px rgba(0,0,0,.1);
}

vaadin-custom-field .maplibre-toolbar vaadin-button {

}